
@{
    ViewBag.Title = "MatchQueueView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var x = ViewBag.Message;
    var playeridx = Int32.Parse(HttpContext.Current.Session["id"].ToString());
}
<head>
    <style>
        p.test {
            text-align: center;
            font-size: 200%;
            font-weight: bold;
        }
    </style>
</head>
<h2>Ieškomas mačas</h2>
<p1>@(x)</p1>
<p class="test" id='seconds-counter'> </p>
<button onclick="cancelSearch()">Atšaukti paiešką</button>
<p1 id='test'> </p1>
<p1 id='cancelTest'> </p1>
<input type="hidden" id='playerid' name='playerid' value="@(playeridx)">
<script>
    var seconds = 0;
    var el = document.getElementById('seconds-counter');
    var e2 = document.getElementById('test');
    var e3 = document.getElementById('cancelTest');
    var playerid = document.getElementById('playerid').value;
    var cancelled = 0;

    function incrementSeconds() {
    seconds += 1;
    var quotient = Math.floor(seconds / 60);
    var remainder = seconds % 60;
    var minuteString = "";
    var secondString = "";
    if (quotient.toString().length == 1)
    {
        minuteString = "0";
    }
    if (remainder.toString().length == 1) {
        secondString = "0";
    }
     el.innerText = minuteString + quotient + ":" + secondString + remainder;
    }

    function cancelSearch() {
        cancelled = 1;
    }

    function getPlayersOngoingMatch() {
        $.ajax({
            url: '/getMatch',
            type: 'POST',
            data: {
                id: playerid
            },
            success: function (data) {
                onSystemResponse(data);
            },
            error: function () {
                alert("error");
            }
        });
    }
    function onSystemResponse(foundMatch) {
        if (foundMatch == "1") {
            location.reload();
        }
        if (cancelled == 1) {
            $.ajax({
                url: '/removeFromQueue',
                type: 'POST',
                data: {
                    id: playerid
                },
                success: function (data) {
                    document.location.href = "/";
                },
                error: function () {
                }
            });
        }
    }

    var interval = setInterval(incrementSeconds, 1000);
    var ongoingCheck = setInterval(getPlayersOngoingMatch, 1000);
</script>
