@{
    Layout = null;
    var x = "";
    if (ViewBag.Message != null)
    {
        x = ViewBag.Message;
    }
}

Login id:
@using (Html.BeginForm("LoginUser", "TestLogin", new { id = "id" }, FormMethod.Post, new { @class = "header-search pull-right" }))
{
    @Html.AntiForgeryToken()

    <input type="text" placeholder="" id="search-fld" name="id">
    <input type="submit">
}
<p>@(x)</p>